<app-progress-bar *ngIf="product.id"></app-progress-bar>
<div class="container">
  <div [routerLink]="[product.id]">
    <div class="img">
      <img [src]="product.image" alt="picture">
    </div>
    <div>Raite {{product.rate}}</div>
    <div class="body">
      <div class="title">
        <h4>{{product.title}}</h4>
      </div>
      <div class="author">
        <span>{{product.author}}</span>
      </div>
      <p>{{product.price | currency}}</p>
    </div>
  </div>
  <div class="button">
    <button mat-flat-button color="primary">Add to cart</button>
  </div>
</div>
