<main>
  <div class="circle">
    <Form class="register-form-container">
      <h1 class="form-title">Registration</h1>
      <div class="form-fields">
        <div class="form-field">
          <input type="text" placeholder="Name">
        </div>
        <div class="form-field">
          <input type="text" placeholder="Email">
        </div>
        <div class="form-field">
          <input type="text" placeholder="Password">
        </div>
        <div class="form-field">
          <input type="text" placeholder="Confirm the password">
        </div>
      </div>
      <div class="form-buttons">
        <button routerLink="/" class="button" mat-raised-button color="primary">Register</button>
        <div class="divider">or</div>
        <a routerLink="/" class="button button-google">Google</a>
      </div>
      <button routerLink="/" class="button-close">&times;</button>
    </Form>
  </div>
</main>
