<div class="container">
  <div class="sidebar__body">
    <ul class="sidebar__menu">
      <li class="sidebar__item">
        <mat-icon>discount</mat-icon>
        <p>Discounts</p>
      </li>
      <li class="sidebar__item">
        <mat-icon>library_books</mat-icon>
        <p>Fiction</p>
        <ul class="sidebar__item__menu">
          <li><a routerLink="fiction/detective">Detective</a></li>
          <li><a routerLink="fiction/horror">Horror</a></li>
          <li><a routerLink="fiction/adventure">Adventure</a></li>
          <li><a routerLink="fiction/fantasy">Fantasy</a></li>
        </ul>
      </li>
      <li class="sidebar__item">
        <mat-icon>face_5</mat-icon>
        <p>Children's literature</p>
        <ul class="sidebar__item__menu">
          <li><a routerLink="/">Detective</a></li>
          <li><a routerLink="/">Horror</a></li>
          <li><a routerLink="/">Adventure</a></li>
          <li><a routerLink="/">Fantasy</a></li>
        </ul>
      </li>
      <li class="sidebar__item">
        <mat-icon>school</mat-icon>
        <p>Educational literature</p>
        <ul class="sidebar__item__menu">
          <li><a routerLink="/">Bussines</a></li>
          <li><a routerLink="/">Psychology</a></li>
          <li><a routerLink="/">Sport, Health</a></li>
          <li><a routerLink="/">History</a></li>
          <li><a routerLink="/">Programming books</a></li>
        </ul>
      </li>
      <li class="sidebar__item">
        <mat-icon>self_improvement</mat-icon>
        <p>Home. Life. Leisure</p>
        <ul class="sidebar__item__menu">
          <li><a routerLink="/">Cooking</a></li>
          <li><a routerLink="/">Needlework</a></li>
          <li><a routerLink="/">Tourism</a></li>
          <li><a routerLink="/">Farming</a></li>
          <li><a routerLink="/">Creation</a></li>
        </ul>
      </li>
      <li class="sidebar__item">
        <mat-icon>card_giftcard</mat-icon>
        <p>Gift editions</p>
        <ul class="sidebar__item__menu">
          <li><a routerLink="/">Gifts for the holiday</a></li>
          <li><a routerLink="/">Elite books</a></li>
        </ul>
      </li>
      <li class="sidebar__item">
        <mat-icon>tablet</mat-icon>
        <p>E-books</p>
      </li>
    </ul>
  </div>
</div>
